profiles {
    
    local {
        executor {
            name = 'local'
            queueSize = 100
            submitRateLimit = "2 sec"
        }

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$PWD"
        singularity.runOptions = "-B ~/PanEcDNA2,/mnt/NAS5,/mnt/NAS7 -e -H /scratch"  
        
	process {
            shell = ['/bin/bash', '-euo', 'pipefail']
            scratch = "/mnt/storage/tmp"
            maxRetries = 3
            errorStrategy = {task.attempt <=0 ? 'retry' : 'ignore'}

            
            withLabel: extract_BNDregion {
            	//singularity.enabled = true
            	//singularity.autoMounts = true
           	 	//singularity.cacheDir = "$PWD"
            	//singularity.runOptions = "-B ~/PanEcDNA2 -e -H /scratch"
                container = "${params.nf_home}/singularity_img/rbase_v4.2.2.sif"
                cpus = 8
                memory = 24.GB
            }
            withLabel: upload_to_bucket {
                //singularity.enabled = true
                //singularity.autoMounts = true
                //singularity.cacheDir = "$PWD"
                //singularity.runOptions = "-B ~/PanEcDNA2 -e -H /scratch"
                //container = "${params.nf_home}/singularity_img/gatk_aws.sif"
                cpus = 8
                memory = 24.GB
                errorStrategy = {task.attempt <= 0 ? 'retry' : 'ignore'}
            }
            withLabel: transfer_file_to_bucket {
                cpus = 1
                memory = '8 GB'
                errorStrategy = {task.attempt <= 0 ? 'retry' : 'ignore'}
            }



        }
    }
}
 

