profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 10
            maxForks = 10
            submitRateLimit = "2 sec"
        }

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$PWD"
        singularity.runOptions = "-B ~/HL-NF,/mnt/NAS,/mnt/storage,/mnt/NAS5,/mnt/NAS7 --cleanenv -H /scratch"  
        
        process {
            shell = ['/bin/bash', '-euo', 'pipefail']
            scratch = "/mnt/storage/tmp"
            maxRetries = 3
            errorStrategy = {task.attempt <=0 ? 'retry' : 'terminate'}
             
        //######################################
        //
        //  svaba
        //
        //######################################
        withLabel: svaba {
            conda = "$params.conda_prefix/envs/svaba"
            cpus = 8
            memory = "32GB"
            time = "24h"
        }      
        //######################################
        //
        //  bp_seq_seek
        //
        //######################################
        withLabel: aa_bp_seq_seek {
            // already exist in '/mnt/storage/singularity_img'
            container = "${params.nf_home}/singularity_img/rbase_v4.1.0.2.sif"
            cpus = 2
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            memory = {32.GB * task.attempt}
            time = "24h"
        }
        withLabel: get_aa_bp {
            // https://hub.docker.com/r/namzoo/pythonforbp
            container = "${params.nf_home}/singularity_img/pythonforbp_v0.1555.2.sif"
            cpus = 2
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            memory = {32.GB * task.attempt}
            time = "24h"
        }
        withLabel: bp_homology_python {
            cpus = 2
            container = "${params.nf_home}/singularity_img/aasuite_v0.1344.2.sif"
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            memory = {16.GB * task.attempt}
            time = "24h"
        }  
      }
    }
}
